body{
    background-color: green;
    background-image: url(https://external-preview.redd.it/JsC0mQ1k9OR8ZJLj-EMJWqX0C43JxonjVlgEArzY26s.jpg?auto=webp&s=c8c80b9b673cd1ba2eda1e0667773c625f6d7f3b);
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.playerbtns{
    border: solid 1px;
    background-color: black;
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navimg{
    height: 10vh;
}
.player1 {
    border: solid rgb(167, 2, 21) 5px;
    color: rgb(167, 2, 21);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
}
.player2 {
    border: solid rgb(167, 2, 21) 5px;
    color: rgb(167, 2, 21);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
}
.nextLevel {
    border: solid rgb(167, 2, 21) 5px;
    color: rgb(167, 2, 21);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
}
.reset {
    border: solid rgb(167, 2, 21) 5px;
    color: rgb(167, 2, 21);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
}
#lvl {
    border: solid rgb(167, 2, 21) 5px;
    color: rgb(167, 2, 21);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
}
#highScore {
    border: solid rgb(167, 2, 21) 5px;
    color: rgb(167, 2, 21);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
}
#playContainer{
    /* border: solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    height:80vh;
    width: 80vw;
}
#playerHome{
    /* border: solid white 1px; */
    position: fixed;
    z-index: 5;
    height: 15vh;
    width: 7.5vw;
}
.playerImg{
    height: 15vh;
    width: 7.5vw;
}
.timer{
    /* border: solid black 2px; */
    position: fixed;
    align-self: flex-start;
    margin-left: -50vw;
    color: red;
    font-size: xx-large;
    z-index: 3;
}
.playSpace{
    /* border: solid blue 5px; */
    height: 75vh;
    width: 75vw;
    border-radius: 50%;
    background-color: black;
    position: relative;
}
#time{
    display: flex;
    justify-content: center;
}
#zombie1{
    /* border: solid red 1px; */
    height: 100px;
    width: 100px;
    position: absolute;
    margin-top: 32vh;
    z-index: 6;
}
#zombie2{
    /* border: solid red 1px; */
    height: 100px;
    width: 100px;
    position: absolute;
    margin-top: 32vh;
    margin-left: 68vw;
    z-index: 6;
}
#zombie3{
    /* border: solid red 1px; */
    height: 100px;
    width: 100px;
    position: absolute;
    margin-top: 0vh;
    margin-left: 34vw;
    z-index: 6;
}
#zombie4{
    /* border: solid red 1px; */
    height: 100px;
    width: 100px;
    position: absolute;
    margin-top: 64vh;
    margin-left: 34vw;
    z-index: 6;
}
#zombie5{
    /* border: solid red 1px; */
    height: 100px;
    width: 100px;
    position: absolute;
    margin-top: 0vh;
    margin-left: 68vw;
    z-index: 6;
}
#zombie6{
    /* border: solid red 1px; */
    height: 100px;
    width: 100px;
    position: absolute;
    margin-top: 64vh;
    margin-left: 68vw;
    z-index: 6;
}
#zombie7{
    /* border: solid red 1px; */
    height: 100px;
    width: 100px;
    position: absolute;
    margin-top: 0vh;
    margin-left: 0vw;
    z-index: 6;
}
#zombie8{
    /* border: solid red 1px; */
    height: 100px;
    width: 100px;
    position: absolute;
    margin-top: 64vh;
    margin-left: 0vw;
    z-index: 6;
}
.zombie{
    height: 100px;
    width: 100px;
}
.gameOver{
    position: fixed;
    border: solid gold 1px;
    width: 100vw;
    height: 30vh;
    font-size: 180px;
    background-color: rgb(167, 2, 21);
    font-family: cursive;
    display: flex;
    justify-content: center;
    z-index: 20;
}
.decor1{
    /* border: solid red 1px; */
    position: absolute;
    height: 30vh;
    width: 30vw;
    margin-top: -55vh;
    margin-left: 75vw;
}
.decor2{
    /* border: solid red 1px; */
    position: absolute;
    height: 30vh;
    width: 30vw;
    margin-top: -55vh;
    margin-left: -75vw;
}
.decor3{
    /* border: solid red 1px; */
    position: absolute;
    height: 30vh;
    width: 30vw;
    margin-top: 55vh;
    margin-left: 75vw;
}
.decor4{
    /* border: solid red 1px; */
    position: absolute;
    height: 30vh;
    width: 30vw;
    margin-top: 40vh;
    margin-left: -75vw;
}
.img1{
width: 30vw;
height: 30vh;
}
